<!DOCTYPE HTML>
<html>

<head>
    <title>Login Game</title>
</head>

<body>
    <div class="container">
        <h1>Login Game</h1>
        <form method="post" action="/login">
            <label>Username</label><br>
            <input name="username" type="text"><br>
            <label>Password</label><br>
            <input name="password" type="password"><br>
            <button>Log in</button>
        </form>
    </div>
</body>

</html>